<div class="separateur"></div>

<section id="colors">
    <h2>COULEURS</h2>
    <div class="blocText">
        <h3>Codes couleurs</h3>
        <p class="text-center">Passez la souris / cliquez sur une couleur</p>
        <div class="grid grid-cols-1 lg:grid-cols-3 justify-items-center gap-8 max-w-xl mx-auto bg-[#FFF] p-8">
            <div id="pan1" class="w-32 h-32 bg-lghtgrey1 text-fluid-0 font-light flex justify-center items-center text-center text-onLightone">pantoned1</div>
            <div id="pan2" class="w-32 h-32 bg-lghtgrey2 text-fluid-0 font-light flex justify-center items-center text-center text-onLightone">pantoned2</div>
            <div id="pan3" class="w-32 h-32 bg-lghtgrey3 text-fluid-0 font-light flex justify-center items-center text-center text-onPantone">pantoned3</div>

            <div id="pan4" class="w-32 h-32 bg-lightone text-fluid-0 font-light flex justify-center items-center text-center text-onLightone">pantoned4</div>
            <div id="pan5" class="w-32 h-32 bg-pantone text-fluid-0 font-light flex justify-center items-center text-center text-onPantone">pantoned5</div>
            <div id="pan6" class="w-32 h-32 bg-darktone text-fluid-0 font-light flex justify-center items-center text-center text-onDarktone">pantoned6</div>

            <div id="neu1" class="w-32 h-32 bg-whitegrey1 text-fluid-0 font-light flex justify-center items-center text-center text-darkgrey1">neutral1</div>
            <div id="neu2" class="w-32 h-32 bg-whitegrey2 text-fluid-0 font-light flex justify-center items-center text-center text-darkgrey1">neutral2</div>
            <div id="neu3" class="w-32 h-32 bg-whitegrey3 text-fluid-0 font-light flex justify-center items-center text-center text-darkgrey1">neutral3</div>    

            <div id="neu4" class="w-32 h-32 bg-darkgrey3 text-fluid-0 font-light flex justify-center items-center text-center text-whitegrey1">neutral4</div>
            <div id="neu5" class="w-32 h-32 bg-darkgrey2 text-fluid-0 font-light flex justify-center items-center text-center text-whitegrey1">neutral5</div>
            <div id="neu6" class="w-32 h-32 bg-darkgrey1 text-fluid-0 font-light flex justify-center items-center text-center text-whitegrey1">neutral6</div>
        </div>
        <h3>Description du système</h3>
        <p class="mx-auto">Le système est composé de 12 "couleurs" qui permettent de couvrir un large panel de situation.</p>
        <p>Les 12 couleurs peuvent être divisées en 2 groupes : les couleurs Pantone et les neutres. La version colorée Pantone doit être préférée à la version neutre mais la version neutre peut être utilisée dans certains cas (impression noir & blanc par exemple).</p>
        <p>Un contraste suffisant est obtenu en utilisant pantoned6 sur pantoned1 (ou neutral6 sur neutral1) et inversement (thème sombre / clair). Par exemple :</p>
        <div class="w-full border-2 bg-darktone dark:bg-lghtgrey1 text-lghtgrey1 dark:text-darktone text-center">Ratio de contraste > 4.5:1</div>
        <p>Les couleurs pantoned2-5 servent d'accent pour établir une hierarchie ou différencier certains contenus. Par exemple :</p>
        <div class="w-full border-2 bg-pantone text-onPantone text-center">Alerte ! Une erreur est survenue !</div>
    </div>
    
    <div class="separateur"></div>
    
</section>

