<div class="separateur"></div>

<section id="colors">
    <h2>COULEURS</h2>
    <div class="blocText">
        <h3>Palettes possibles</h3>
        <div class="flex flex-row flex-wrap gap-4 sm:gap-8 md:gap-16 justify-center">
            {% for color in colorsAPI %}
                <div class="flex flex-row">
                    <span class="mt-16 font-light" style="writing-mode: tb-rl;">{{color.name}} - {{color.year}}</span>
                    <div class="flex flex-col justify-center text-center items-center">
                        <div>
                            {% for tint in color.pantonedHex %}
                                <div class="w-16 h-16 border-neutral2 border" style="background-color:{{tint}};"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <h3>Codes couleurs</h3>
        <p class="text-center">Passez la souris / cliquez sur une couleur</p>
        <div id="colorMatrix" class="flex flex-row flex-wrap bg-[#FFF] justify-center w-fit md:w-96 lg:w-[48rem] mx-auto">
            <div id="pan1" class="w-32 h-32 bg-pantoned1 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned6"></div>
            <div id="pan2" class="w-32 h-32 bg-pantoned2 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned6"></div>
            <div id="pan3" class="w-32 h-32 bg-pantoned3 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned6"></div>

            <div id="pan4" class="w-32 h-32 bg-pantoned4 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned1"></div>
            <div id="pan5" class="w-32 h-32 bg-pantoned5 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned1"></div>
            <div id="pan6" class="w-32 h-32 bg-pantoned6 text-fluid-0 font-light flex justify-center items-center text-center text-pantoned1"></div>

            <div id="neu1" class="w-32 h-32 bg-neutral1 text-fluid-0 font-light flex justify-center items-center text-center text-neutral6"></div>
            <div id="neu2" class="w-32 h-32 bg-neutral2 text-fluid-0 font-light flex justify-center items-center text-center text-neutral6"></div>
            <div id="neu3" class="w-32 h-32 bg-neutral3 text-fluid-0 font-light flex justify-center items-center text-center text-neutral6"></div>    

            <div id="neu4" class="w-32 h-32 bg-neutral4 text-fluid-0 font-light flex justify-center items-center text-center text-neutral1"></div>
            <div id="neu5" class="w-32 h-32 bg-neutral5 text-fluid-0 font-light flex justify-center items-center text-center text-neutral1"></div>
            <div id="neu6" class="w-32 h-32 bg-neutral6 text-fluid-0 font-light flex justify-center items-center text-center text-neutral1"></div>
        </div>
        <h3>Description du système</h3>
        <p class="mx-auto">Le système est composé de 12 "couleurs" qui permettent de couvrir un large panel de situation.</p>
        <p>Les 12 couleurs peuvent être divisées en 2 groupes : les couleurs Pantone et les neutres. La version colorée Pantone doit être préférée à la version neutre mais la version neutre peut être utilisée dans certains cas (impression noir & blanc par exemple).</p>
        <p>Un contraste suffisant est obtenu en utilisant pantoned6 sur pantoned1-3 (ou neutral6 sur neutral1-2) et pantoned1 sur pantoned4-6. Cela permet par exemple la création d'un thème sombre ou clair. Par exemple :</p>
        <div class="font-light w-full text-fluid-0 sm:text-fluid-1 h-64 flex items-center justify-center bg-pantoned6 dark:bg-pantoned1 text-pantoned1 dark:text-pantoned6 text-center">Ratio de contraste > <output id="contrast1"></output>:1</div>
        <p>Si l'on souhaite un thème aux couleurs plus marquées, il suffit d'utiliser pantoned5 et pantoned2 en fond. Par exemple :</p>
        <div class="font-light w-full text-fluid-0 sm:text-fluid-1 h-64 flex items-center justify-center bg-pantoned5 dark:bg-pantoned2 text-pantoned1 dark:text-pantoned6 text-center">Ratio de contraste > <output id="contrast2"></output>:1</div>
        <p>Les couleurs pantoned3-4 servent d'accent pour établir une hierarchie ou différencier certains contenus. Par exemple :</p>
        <div class="font-light w-full text-fluid-0 sm:text-fluid-1 h-64 flex flex-col items-center justify-center mx-auto border-2 bg-pantoned4 dark:bg-pantoned3 text-pantoned1 dark:text-pantoned6 text-center">Alerte ! Une erreur est survenue !<br> <span>Ratio de contraste > <output id="contrast3"></output>:1</span></div>
        
    </div>
    
    <div class="separateur"></div>
    
</section>

