<section id="cover">
    <h1 class="pt-48">
        <span class="fittext">Documentation</span>
        <span class="fittext">du design system de</span>
        <span class="fittext">huitquatre</span>
    </h1>
    <p class="text-center mx-auto mt-16">Dernière mise à jour du : {{generated}}</p>
</section>
