<section id="cover">
    <h1 class="text-center pt-48 font-black leading-none">
        <span class="fittext">Documentation</span><span class="fittext">du design system de</span><span class="fittext">huitquatre</span>
    </h1>
    <p class="text-center mt-16">Dernière mise à jour du : {{generated}}</p>
</section>
