<div class="max-w-4xl mx-auto">
    <div class="pt-48 flex flex-col justify-center items-center gap-16 mx-4 sm:mx-8 md:mx-16">
        <h1 class="text-center font-black leading-none w-full libre">
            <span class="fittext">Documentation</span>
            <span class="fittext">du design system de</span>
            <span class="fittext">huitquatre</span>
        </h1>
        <p class="text-center">Dernière mise à jour du : {{generated}}</p>
    </div>
</div>
