<footer class="flex flex-col justify-between">
    <div class="flex flex-col justify-center mx-auto">
      <div class="text-center">
        <p class="my-2 text-xl lg:text-3xl lg:ml-16 ml-0">huitquatre</p>
        <p class="lg:ml-16 ml-0 my-2 text-xl lg:text-3xl">760 route d'Uchaux</p>
        <p class="lg:ml-16 ml-0 my-2 text-xl lg:text-3xl">84420 PIOLENC (France)</p>
        <p class="lg:ml-16 ml-0 my-2 text-xl lg:text-3xl"><a href="mailto:contact@huitquatre.fr" class="no-underline">contact@huitquatre.fr</a></p>
      </div>
      <div class="mt-8 flex flex-row gap-8 justify-between">
        <div>{% feather "facebook" %}</div>
        <div>{% feather "twitter" %}</div>
        <div>{% feather "linkedin" %}</div>
        <div>{% feather "instagram" %}</div>
      </div>
    </div>
    <div class="text-center">
        <br><hr><br>
        © 2022 - avec ❤️ par huitquatre
        <br><br>
    </div>
</footer>
