<div class="separateur"></div>

<section id="icons">
    <h2>ICÔNES</h2>
    <div class="flex flex-row flex-wrap gap-4 justify-center">
        {% for icon in icons %}
            <div title="{{icon}}">
                {% feather icon, {"width":"64px","height":"64px","stroke-width":"1px"} %}
            </div>
        {% endfor %}
    </div>
    
    <div class="separateur"></div>
    
</section>

