<section id="logos" class="h-screen flex flex-col lg:flex-row items-center">
    <div class="bg-[#F7F7F7] w-full mx-auto">
        {% svg 'logo', 'id="blanc" class="max-w-md mx-auto m-16"' %}
    </div>
    <div class="bg-[#262626] w-full mx-auto">
        {% svg 'logo', 'id="noir" class="max-w-md mx-auto m-16"' %}
    </div>
</section>