<section id="logos" class="h-screen flex flex-col lg:flex-row items-center">
    <div class="bg-[#F7F7F7] w-full mx-auto flex justify-center">
        {% svg 'logo', 'id="blanc" class="m-16 max-w-md"' %}
    </div>
    <div class="bg-[#262626] w-full mx-auto flex justify-center">
        {% svg 'logo', 'id="noir" class="m-16 max-w-md"' %}
    </div>
</section>