<div class="fixed top-0 left-0 z-40 h-20 lg:h-32 border-b border-neutral3 drop-shadow-lg w-screen bg-pantoned1 dark:bg-pantoned6 flex flex-row justify-between items-center">
{% include '_pantoneSelector.njk' %}
{% include '_toggleDarkMode.njk' %}
</div>
