<div class="fixed top-0 left-0 z-40 h-24 lg:h-32 border-b border-whitegrey3 drop-shadow-lg w-screen bg-whitegrey1 dark:bg-darktone"></div>
{% include '_pantoneSelector.njk' %}
{% include '_toggleDarkMode.njk' %}