<div class="separateur"></div>

<h2>Sommaire</h2>
<ol class="list-inside list-decimal font-light">
    <li><a href="/#valeurs">Valeurs - WHY</a></li>
    <li><a href="/#logos">Logos</a></li>
    <li><a href="/#spacing">Spacing</a></li>
    <li><a href="/#typo">Typographie</a></li>
    <li><a href="">Elements de langage, ton, registre</a></li>
    <li><a href="">Couleurs</a></li>
</ol>