<div class="separateur"></div>

<section id="spacing">
    <h2>Spacing</h2>

    <h3>Pour les blocs de textes</h3>
    <div class="blocText">
        <div class="mb-4 bg-pantone dark:bg-darkgrey3">
            <div class="max-w-[40ch] lg:max-w-[50ch]">
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-6/12"></div>
            </div>
            <div class="bg-pantone dark:bg-darkgrey3 w-full max-w-[40ch] lg:max-w-[50ch] h-4 sm:h-8"></div>
            <div class="max-w-[40ch] lg:max-w-[50ch]">
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-3/12"></div>
            </div>
            <div class="bg-pantone dark:bg-darkgrey3 w-full max-w-[40ch] lg:max-w-[50ch] h-4 sm:h-8"></div>
            <div class="max-w-[40ch] lg:max-w-[50ch]">
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-9/12"></div>
            </div>
            <div class="bg-pantone dark:bg-darkgrey3 w-full max-w-[40ch] lg:max-w-[50ch] h-4 sm:h-8"></div>
            <div class="max-w-[40ch] lg:max-w-[50ch]">
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-full"></div>
                <div class="bg-lightone dark:bg-lghtgrey1 h-4 w-7/12"></div>
            </div>
        </div>
        <p>Largeur maximale de 50ch ou de 40ch (<1024px)</p>
        <p>2rem entre les paragraphes ou 1rem (<640px)</p>
        <code>p{@apply max-w-[40ch] lg:max-w-[50ch]}<br>.blocText{@apply space-y-4 sm:space-y-8}</code>
    </div>
    
    

    <h3>Marges globales</h3>
    <div class="blocText">
        <div class="flex flex-col lg:flex-row justify-between gap-4 mb-4">
            <div class="bg-lightone dark:bg-lghtgrey1 w-full max-w-[300px] border mx-auto h-96 flex flex-row justify-between">
                <div class="w-4 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
                <div class="w-4 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
            </div>
            <div class="bg-lightone dark:bg-lghtgrey1 w-full max-w-[640px] border mx-auto h-96 flex flex-row justify-between">
                <div class="w-8 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
                <div class="w-8 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
            </div>
            <div class="bg-lightone dark:bg-lghtgrey1 w-full max-w-[768px] border mx-auto h-96 flex flex-row justify-between">
                <div class="w-16 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
                <div class="w-16 h-96 bg-lghtgrey3 dark:bg-darkgrey3"></div>
            </div>
        </div>
        <p>Marges horizontales (16px / 32px / 64px)</p>
        <code>.wrapper{px-4 sm:px-8 md:px-16}</code>
    </div>
    

    <h3>Marges des titres</h3>
    <h1 class="py-0">
        <span class="fittext">Ceci est un h1.</span>
        <span class="fittext">Soufflé</span>
        <span class="fittext">Cupcake ipsum dolor sit amet.</span>
    </h1>
    <div class="bg-pantone dark:bg-darkgrey3 w-full h-32"></div>
    <h2 class="py-0">Ceci est un h2. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar.</h2>
    <div class="bg-pantone dark:bg-darkgrey3 w-full h-16"></div>
    <h3 class="py-0">Ceci est un h3. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h3>
    <div class="bg-pantone dark:bg-darkgrey3 w-full h-12"></div>
    <h4 class="py-0">Ceci est un h4. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h4>
    <div class="bg-pantone dark:bg-darkgrey3 w-full h-8"></div>
    <h5 class="py-0">Ceci est un h5. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer.I love carrot cake pastry chocolate bar cupcake.</h5>
    <div class="bg-pantone dark:bg-darkgrey3 w-full h-8"></div>
    
</section>