<button id="darkModeToggle" class="fixed top-8 right-8" onclick="toggleDarkMode()">
    {% feather "moon", {"aria-hidden": "true", "focusable":"false"} %}
    {% feather "sun", {"aria-hidden": "true", "focusable":"false"} %}
    <span class="sr-only">light/dark mode toggle</span>
</button>