<button id="darkModeToggle" class="z-50 border-0 fixed top-8 right-8 drop-shadow-lg" onclick="toggleDarkMode()">
    {% feather "moon", {"aria-hidden": "true", "focusable":"false", "stroke":"var(--color-darktone)"} %}
    {% feather "sun", {"aria-hidden": "true", "focusable":"false", "stroke":"var(--color-lghtgrey1)"} %}
    <span class="sr-only">light/dark mode toggle</span>
</button>