<div class="separateur"></div>

<section id="tone">
    <h2>Éléments de langage, ton, registre</h2>
    <ul class="space-y-8 mb-8 list-disc list-inside">
        <li>Pas de langage parlé sur le site, moyen sur les réseaux sociaux.</li>
        <li>Langage courant avec termes techniques expliqués</li>
        <li>Utilisation de mèmes</li>
        <li>Fun / amusement / humour / second degré</li>
        <li>Bienveillant</li>
        <li>Utilisation des émojis</li>
        <li>Inclusif</li>
        <li>Phrases courtes</li>
        <li>Vocabulaire précis</li>
        <li>Accessible (glossaire)</li>
        <li>Pédagogue</li>
        <li>Sourcé</li>
        <li>Diagrammes, inforgraphies, ...</li>
    </ul>

    <hr>

    <h3>Storytelling</h3>
    <p>Figure du mage -> Alchimiste</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/L%27alchimiste_-_David_Teniers_the_Younger.png/640px-L%27alchimiste_-_David_Teniers_the_Younger.png" alt="Tableau l'alchimiste par David Teniers le jeune" width="640" height="466">
    <p>Transmute la matière, change le monde</p>
    <p>Réinvente le web pour un "brand new web"</p>
    
</section>