<div class="h-[40vh]"></div>

<section id="typo">
    <div class="w-[75vw] mx-auto">
        <h2 class="fittext">Typographie</h2>
        <h3>Some good body text</h3>
        <div class="space-y-8">
            <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
            <p>Nous livrons des sites internet parfaitement optimisés pour le référencement naturel (SEO) et des stratégies de développement de votre trafic (suivi de mots-clés, contenus, netlinking…) en green SEO.</p>
            <p>Spécialiste de l’Inbound Marketing, notre service de rédaction web crée des contenus puissants et pertinents pour votre cible : le SEO pour attirer, le marketing pour augmenter votre taux de conversion.</p>
            <p>Pilier central de votre notoriété, votre identité visuelle construit votre image de marque. Créations graphiques web et print : charte graphique, logo, visuels pour les réseaux sociaux…</p>
        </div>
        <h3>Marges des titres</h3>
        <h1>Ceci est un h1. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar.</h1>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h2>Ceci est un h2. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar.</h2>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h3>Ceci est un h3. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h3>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h4>Ceci est un h4. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h4>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h5>Ceci est un h5. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer.I love carrot cake pastry chocolate bar cupcake.</h5>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
    </div>
    <p></p>
</section>