<div class="separateur"></div>

<section id="typo">
    <h2>Typographie</h2>
    <h3>Libre Franklin</h3>
    <p>Cette fonte s'adapte à la fois aux textes longs et aux titres. C'est donc la seule que nous utilisons sur tous les supports.</p>
    <p>Exception : pour l'écriture de code informatique, nous utiliserons la fonte monospace par défaut du navigateur pour ne pas augmenter inutilement le poids de la page.</p>
    <br>
    <div class="space-x-8">
        <span class="font-thin">Thin - weight : 100</span>
        <span class="font-light">Light - weight : 300</span>
        <span class="font-normal">Regular - weight : 400</span>
        <span class="font-black">Black - weight : 900</span>  
    </div>
    <br>
    <p>A a (Â â, À à), (Æ æ), B b, C c (Ç ç), D d, E e (É é, Ê ê, È è, Ë ë), F f, G g, H h, I i (Î î, Ï ï), J j, K k, L l, M m, N n (Ñ ñ), O o (Ô ô), (Œ œ), P p, Q q, R r, S s, T t, U u (Û û, Ù ù), V v, W w, X x, Y y (Ÿ ÿ), Z z</p>
    <p>0123456789</p>
    <p>&#34; &#169; &#174; &#177; &#178; &#178; &#8482; &#188; &#189; &#189; &#8220; &#8221; &#8222; &#8226;</p>
    <br>
    <h3>Paragraphes</h3>
    <div class="blocText">
        <code>
            Une succession de paragraphes doit être encapsulée dans un élement blocText.
            <br>
            &lt;div class="blocText"&gt;
            <br>&nbsp;&nbsp;&lt;p&gt;bla bla bla&lt;/p&gt;
            <br>&nbsp;&nbsp;&lt;p&gt;bla bla bla&lt;/p&gt;
            <br>&nbsp;&nbsp;&lt;p&gt;bla bla bla&lt;/p&gt;
            <br>
            &lt;/div&gt;
        </code>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <p>Nous livrons des sites internet parfaitement optimisés pour le référencement naturel (SEO) et des stratégies de développement de votre trafic (suivi de mots-clés, contenus, netlinking…) en green SEO.</p>
        <p>Spécialiste de l’Inbound Marketing, notre service de rédaction web crée des contenus puissants et pertinents pour votre cible : le SEO pour attirer, le marketing pour augmenter votre taux de conversion.</p>
        <p>Pilier central de votre notoriété, votre identité visuelle construit votre image de marque. Créations graphiques web et print : charte graphique, logo, visuels pour les réseaux sociaux…</p>
    </div>
    <h3>Titres</h3>
    <div class="space-y-4">
        <h1>
            <span class="fittext">Ceci est un h1.</span>
            <span class="fittext">Soufflé</span>
            <span class="fittext">Cupcake ipsum dolor sit amet.</span>
        </h1>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h2>Ceci est un h2. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar.</h2>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h3>Ceci est un h3. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h3>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h4>Ceci est un h4. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer..</h4>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
        <h5>Ceci est un h5. Cupcake ipsum dolor sit amet. Soufflé liquorice brownie liquorice sugar plum gummies dragée I love wafer.I love carrot cake pastry chocolate bar cupcake.</h5>
        <p>One Page, site vitrine ou e-commerce écologique, codé sur-mesure en JAMstack et facilement administrable. Performance, accessibilité, design unique et responsive. L’Expérience Utilisateur au cœur de notre création de site.</p>
    </div>
</section>