<div class="separateur"></div>

<section id="valeurs">
    <h2>Nos valeurs</h2>
    <ul class="space-y-8 mb-8">
        <li>
            <h3>Modernité</h3>
            <p>"Brand new web"</p>
        </li>
        <li>
            <h3>Efficience</h3>
            <p>"Less is more"</p>
        </li>
        <li>
            <h3>Accessibilité</h3>
            <p>"Pour tou·tes"</p>
        </li>
    </ul>

    <hr>

    <ul class="space-y-8 mb-8">
        <li>
            <h3>Why ?</h3>
            <p>Changer les mentalités sur l'approche des technologies</p>
        </li>
        <li>
            <h3>How ?</h3>
            <p>Montrer qu'il est possible de faire autrement</p>
        </li>
        <li>
            <h3>What ?</h3>
            <p>Des sites écologiques, accessibles, performants et créatifs</p>
        </li>
    </ul>

    <hr>
    
    <h3>Message</h3>
    <p>Le web est à votre service et n'est pas un outil d'asservissement.</p>
    <h3>Slogan</h3>
    <p>C'est bien fait pour vous !</p>
</section>