<section id="valeurs" class="mx-8 mb-32">
    <div class="flex flex-col lg:flex-row justify-around items-start mb-16">
        <div class="my-16">
            <h2 class="text-6xl font-black mb-16">Valeurs</h2>
            <ul class="pl-8">
                <li class="py-4">
                    <h3 class="text-3xl font-light">Modernité</h3>
                    <p class="text-xl font-bold">"Demain nous inspire"</p>
                </li>
                <li class="py-4">
                    <h3 class="text-3xl font-light">Efficience</h3>
                    <p class="text-xl font-bold">"Less is more"</p>
                </li>
                <li class="py-4">
                    <h3 class="text-3xl font-light">Accessibilité</h3>
                    <p class="text-xl font-bold">"Pour tou·tes"</p>
                </li>
            </ul>
        </div>
        
        <div class="my-16">
            <h2 class="text-6xl font-black mb-16">WHY</h2>
            <ul class="pl-8">
                <li class="py-4">
                    <h3 class="text-3xl font-light">Why ?</h3>
                    <p class="text-xl font-bold">Changer les mentalités sur l'approche des technologies</p>
                </li>
                <li class="py-4">
                    <h3 class="text-3xl font-light">How ?</h3>
                    <p class="text-xl font-bold">Montrer qu'il est possible de faire autrement</p>
                </li>
                <li class="py-4">
                    <h3 class="text-3xl font-light">What ?</h3>
                    <p class="text-xl font-bold">Des sites écologiques, accessibles, performants et créatifs</p>
                </li>
            </ul>
        </div>
    </div>    
    
    <h2 class="text-6xl font-thin mb-4">Message</h2>
    <p class="text-3xl font-bold mb-16">Le web est à votre service et n'est pas un outil d'asservissement.</p>
    <h2 class="text-6xl font-thin mb-4">Slogan</h2>
    <p class="text-3xl font-bold">C'est bien fait pour vous !</p>
</section>