<div class="h-[50vh]"></div>
<section id="valeurs" class="mx-8 mb-32">
    <div class="mt-16 mb-48 w-[80vw] lg:mx-auto max-w-lg">
        <h2 class="fittext">Nos valeurs</h2>
        <ul class="">
            <li class="py-4">
                <h3 class="fittext">Modernité</h3>
                <p class="fittext font-bold">"Brand new web"</p>
            </li>
            <li class="py-4">
                <h3 class="fittext">Efficience</h3>
                <p class="fittext font-bold">"Less is more"</p>
            </li>
            <li class="py-4">
                <h3 class="fittext">Accessibilité</h3>
                <p class="fittext font-bold">"Pour tou·tes"</p>
            </li>
        </ul>
    </div>
    
    <div class="mt-16 mb-48 w-[80vw] lg:mx-auto max-w-lg">
        <ul class="">
            <li class="py-4">
                <h3 class="fittext">Why ?</h3>
                <p class="text-xl sm:text-3xl md:text-4xl font-bold">Changer les mentalités sur l'approche des technologies</p>
            </li>
            <li class="py-4">
                <h3 class="fittext">How ?</h3>
                <p class="text-xl sm:text-3xl md:text-4xl font-bold">Montrer qu'il est possible de faire autrement</p>
            </li>
            <li class="py-4">
                <h3 class="fittext">What ?</h3>
                <p class="text-xl sm:text-3xl md:text-4xl font-bold">Des sites écologiques, accessibles, performants et créatifs</p>
            </li>
        </ul>
    </div>
    
    <div class="w-[80vw] lg:mx-auto max-w-4xl">
        <h2 class="fittext font-thin mb-4">Message</h2>
        <p class="text-3xl sm:text-5xl md:text-7xl font-bold mb-16">Le web est à votre service et n'est pas un outil d'asservissement.</p>
        <h2 class="fittext font-thin mb-4">Slogan</h2>
        <p class="text-3xl sm:text-5xl md:text-7xl font-bold">C'est bien fait pour vous !</p>
    </div>
</section>