@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

body{
  font-family: 'Libre Franklin', sans-serif;
}

#noir .rect--big{
  fill: hsl(0 0% 75%);
}

#noir .rect--top{
  fill: hsl(0 0% 60%);
}

#noir .rect--bot,#noir .logotext{
  fill: hsl(0 0% 97%);
}

#blanc .rect--big{
  fill: hsl(0 0% 40%);
}

#blanc .rect--top{
  fill: hsl(0 0% 60%);
}

#blanc .rect--bot,#blanc .logotext{
  fill: hsl(0 0% 15%);
}
