@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
  }
}

:root{
  --color-darktone: hsl(0 0% 15%);
  --color-pantone: hsl(0 0% 40%);
  --color-lightone: hsl(0 0% 60%);

  --color-lghtgrey1: hsl(0 0% 97%);
  --color-lghtgrey2: hsl(0 0% 75%);
  --color-lghtgrey3: hsl(0 0% 60%);

  --color-whitegrey1: hsl(0 0% 97%);
  --color-whitegrey2: hsl(0 0% 75%);
  --color-whitegrey3: hsl(0 0% 60%);

  --color-darkgrey1: hsl(0 0% 15%);
  --color-darkgrey2: hsl(0 0% 40%);
  --color-darkgrey3: hsl(0 0% 60%);
}

body{
  font-family: 'Libre Franklin', sans-serif;
}

button{
  @apply border-2 dark:border-lghtgrey1 border-darktone rounded-md;
}

#wrapper{
  @apply bg-lghtgrey1 dark:bg-darktone text-darktone dark:text-lghtgrey1;
}

#pantone-color-year::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-pantone);
  cursor: pointer;
}

#pantone-color-year::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--color-pantone);
  cursor: pointer;
}


